.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color:#293042;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background:#fff;
  color:black;
  box-shadow:0 0 2rem 0 rgb(41 48 66 / 10%);
}
.mat-toolbar
{
  color:white;
  
}
.mat-list-base .mat-list-item
{
  color:rgba(233,236,239,.5)
}

/* rgba(233,236,239,.5) */
/* .mat-drawer
{
 

} */
/* #293042 */
