<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <p>Project Management System</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="userprofile">User Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="clientrecord">Client Details</a>
          </li>
            <input type="button" class="Logout" (click)="onLogout()" value="Logout" />   
        </ul>
      </div>
     
    </div>
  </nav> -->
<app-dashboard></app-dashboard>

 <div class="container">
      <div class="row">
           <div class="col"> 
              <h3>Add Client</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label>Client Name</label>
                      <input type="text" formControlName="ClientName" class="form-control" [ngClass]="{'is-invalid': submitted && f.ClientName.errors }" />
                      <div *ngIf="submitted && f.ClientName.errors" class="invalid-feedback">
                          <div *ngIf="f.ClientName.errors.required">Client Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>ClientEmail</label>
                      <input type="text" formControlName="ClientEmail" class="form-control" [ngClass]="{'is-invalid': submitted && f.ClientEmail.errors }" />
                      <div *ngIf="submitted && f.ClientEmail.errors" class="invalid-feedback">
                          <div *ngIf="f.ClientEmail.errors.required">Email is required</div>
                          <div *ngIf="f.ClientEmail.errors.ClientEmail">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group">
                    <label>Client Skype</label>
                    <input type="text" formControlName="ClientSkype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ClientSkype.errors }" />
                    <div *ngIf="submitted && f.ClientSkype.errors" class="invalid-feedback">
                        <div *ngIf="f.ClientSkype.errors.required">Client Skype is required</div>
                    </div>
                </div>
                  <div class="form-group">
                    <label>ServerDetail</label>
                    <textarea id="name" rows="3" class="form-control" formControlName="ServerDetail"  [ngClass]="{ 'is-invalid': submitted && f.ServerDetail.errors }"  required [(ngModel)]="client.ServerDetail" name="ServerDetail"></textarea>
                    <div *ngIf="submitted && f.ServerDetail.errors" class="invalid-feedback">
                        <div *ngIf="f.ServerDetail.errors.required">Server Detail is required</div>
                    </div>
                </div>
                
                  <div class="form-group">
                      <button class="btn btn-primary">Save</button>
                  </div>
                    <!-- <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                      {{massage}}  
                    </p> -->
              </form>
           </div>
      </div>
  </div> 