
 /* .divcontainer
 {
 background-color:#f8f9fa!important
 } 
 .Edit{
     cursor: pointer;
     background-color: #56baed;
     border: none;
     color: white;
     padding: 9px 26px;
     margin-left: 2px;
     border-radius: 5px 5px 5px 5px;
 }
 .btn-danger {
     color: #fff;
     margin-left: 8px;
     padding: 9px 20px;
     background-color: #dc3545;
     border-color: #dc3545;
 }
 h3 {
     margin-top: 9px;
 }
 h3 {
     margin-left: 221px;
 }
 
 textarea#name
 {
     margin-left:177px;
     margin-top:-23px;
     width:472px;
 }
 label
 {
     margin-top:47px;
     margin-left:31px;
 }
 input[type=text], input[type=password] {
     background-color:white;
     border: none;
     color: #0d0d0d;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-left: 53px;
     width: 64%;
     border:1px solid #ced4da;
     transition: all 0.5s ease-in-out;
     border-radius: 5px 5px 5px 5px;
 }
  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback)
 {
     margin-left:118px;
     margin-top:30px;
 }
 .formclass
 {
     font-size:35px;
 margin-left:270px;
 }
 body{
     background-color: #f8f9fa!important;
 }
 .abc
 {
 width:50px;
 }
 .Logout
 {
     cursor: pointer;
     background-color: #56baed;
     border: none;
     color: white;
     padding: 13px 28px;
     margin: -4px 0 0  805px;
     box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
     border-radius: 5px 5px 5px 5px;
 } 
 .navbar-expand-lg[_ngcontent-kvu-c106] .navbar-nav[_ngcontent-kvu-c106] .nav-link[_ngcontent-kvu-c106]
{
    padding-right:1.5rem;
    padding-left:-10.5rem;
    font-size:18px;
}
 
 
 .input-group-sm>.btn, .input-group-sm>.form-control, .input-group-sm>.form-select, .input-group-sm>.input-group-text
 {
     padding:1.25rem 5.5rem
 }
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
 {
     color:#5fbae9;
    
 }
 /* .navbar-expand-lg .navbar-nav .nav-link
 
     {
         padding-right: .5rem;
         padding-left: 7.5rem;
         font-size:x-large;
     } */
     /* nav.navbar.navbar-expand-lg.navbar-light.bg-light
     {
         box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
     }
 
 p{
 font-family:'Circular-Loom';
 font-size:large;
 color:black
 }
 label
 {
     margin-top:47px;
 }
 .btn-primary
 {
     margin:22px 8px 2px 376px;
     background-color:#5fbae9;
     border-color:#5fbae9;
 }
 .table-responsive
 {  border: solid #f8f9fa;
     border-width: .2rem 32px  0;
     margin:71px 0 0 0;
     background-color:white;
 }
 .cell-breakWord {
     word-wrap: break-word;
     max-width: 1px;
  }
 
  th
  {
      font-size:large
  }  
  .container, .container-lg, .container-md, .container-sm, .container-xl
  {  background-color:white;
      max-width:778px;
      margin-top:98px;
      height:auto;
      margin-left:353px;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
  }  */
  body{
    background-color: #F7F9FE;
    
       
        font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
        font-size: 1.825rem;
        font-weight: 400;
        line-height: 1.625;
        color: #6c757d;
        text-align: left;
        background-color: #f7f9fc;
    
 }
 .card {
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 4rem;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
    font-size: large;
}

.card-header {
   
    background-color: #fff;
    border-bottom: 0 solid transparent;
}
.card-title {
    font-size: .1.95rem;
    font-weight: 500;
    color: #495057;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.84062rem + 2px);
    padding: 2.25rem .7rem;
    /* font-size: .825rem; */
    /* font-weight: 400; */
    line-height: 1.625;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #3f80ea;
    border-color: #3f80ea;
   box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
   border:none;
}