<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <p>Project Management System</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="userprofile">User Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="clientrecord">Client Details</a>
          </li>
        
            <input type="button" class="Logout" (click)="onLogout()" value="Logout" />   
        </ul>
      </div>
    </div>
  </nav>
  <p class="dashboardclass">Welcome To Project Management System</p> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-home"></i></span>
          <span class="Title">Home</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-user"></i></span>
          <span class="Title">Profile</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-sign-out"></i></span>
          <span class="Title">Sign out</span>
        </a>
      </li>
    </ul>
  </div> -->




  <link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    
        <input type="checkbox" id="sidebar-toogle">
  <div class="sidebar">
    <div class="sidebar-header">
    <h3 class="brand">
        <span class="ti-unlink"></span>
      <span>Project Management System</span>
    </h3>
    <label for="sidebar-toogle" class="ti-menu-alt"></label>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li><a href="/dashboard">
        <span class="ti-home"></span>
        <span>Home</span>
      </a>
      </li>
      <li><a href="/userprofile">
        <span class="ti-user"></span>
        <span>Profile</span>
      </a>
      </li>
      <li><a href="/clientrecord">
        <span class="ti-face-smile"></span>
        <span>Clients</span>
      </a>
      </li>
      <li><a href="/logout">
        <span class="ti-sign-out-alt"></span>
        <span>log-out</span>
      </a></li>
    </ul>
  </div>
  </div>
  
  <div class="main-content">
    <header>
      <div class="search-wrapper">
        <span class="ti-search"></span>
        <input type="search" placeholder="Search">
      </div>
    </header>
    <!-- <main> -->
   
     <!-- <div class="container-fluid p-0">
     </div>  -->
       <!-- <h2 class="dash-title">Dashboard</h2> 
       <div class="dash-cards">
        <div class="card-single">
          <!-- <div class="card-body mx-auto">
          <!-- <div>
            <h5>Welcome</h5>
          </div> -->
      <!-- </div>  -->
  <!-- </div> 
     </div>    -->
      <!-- </main>       -->
  </div>
  