/* 
 @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;&display=swap');
 :root{
     --main-color:#293042;
     --color-dark:#1D2231;
     --text-grey:#8390A2;
 }
* {
     font-family:'Poppins',sans-serif;
     margin:0;
     padding:0;
     text-decoration:none;
     list-style-type:none;
     box-sizing:border-box;
 }
 #sidebar-toogle
 {
     display:none;
 }
 
 .sidebar
 {
     height:100%;
     width:240px;
     position:fixed;
     left:0;
     top:0;
     z-index:100;
     background:#293042;
     color:#ffff;
     overflow-y:auto;
     transition: width 500ms
 }
 .sidebar-header
 {
     display:flex;
     justify-content:space-between;
     align-items: center;
     height:60px;
     padding:0rem 1rem;
 }
 .sidebar-menu
 {
     padding:1rem;

 }
 .sidebar li{
     margin-bottom:1.2rem;
 }
 .sidebar a{
     color:#fff;
     font-size:.9rem;
 }
 .sidebar a span:last-child
 {
     padding-left:.6rem;
 }
 #sidebar-toogle:checked ~ .sidebar
 {
     width:60px;
 }
 
 #sidebar-toogle:checked ~.sidebar .sidebar-header h3 span,
 #sidebar-toogle:checked ~ .sidebar li span:last-child {
    display:none;
    margin-left:60px;
/* // text-align:center; */
/* }
#sidebar-toogle:checked ~.sidebar .sidebar-header,
#sidebar-toogle:checked ~ .sidebar li {
   display:flex;
   justify-content:center;
/* // text-align:center; */
/* }
#sidebar-toogle:checked ~ .main-content
{
    margin-left:60px;
}
/* // #sidebar-toogle:checked ~ .main-content header
// {
//     left:60px;
// } */
/* .main-content
{
    position:relative;
    margin-left:240px;
    transition:margin-left 500ms;
   
}
header{
    position:fixed;
    top:0;
    left:240px;
    z-index:100;
    width:calc(100%-240px);
    background:#ffffff;
    height:60px;
    padding:0rem 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f5f9;
    transition: left 500ms;
  
}
.recent
{
    margin-top:3rem;
}
main{
    margin-top:60px;
    background:#f1f5f9;
    min-height:90vh;
    padding:1rem 3rem;
}
.search-wrapper
{
    display:flex;
    align-items: center;
}
.social-icons span,
.social-icons div
{
    margin-left:1.2rem;
}
.social-icons div
{
 height:60px;
width: 40px;
background-size:cover;
background-repeat: no-repeat;
border-radius:50%
/* background-image:url(img/1.jpg) */
/* }
.search-wrapper input
{
border:0;
outline:0;
padding: 1rem;
height:38px;
}
.dash-title
{
    color:#293042;
    margin-bottom: 1rem;

}
.dash-cards
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:5rem;
}

.card-single
{
    background: #ffffff;
    border-radius:7px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
}
.card-body
{
    padding:11.3rem 15rem;
    display:flex;
    align-items: center;
}
.card-body span
{
    font-size:1.5rem;
    color:#777;
    padding-right:1rem;
}
.card-body h5
{
    color:#293042;
    font-size:1rem;
  
}
.card-body h4
{
    color:red;
    font-size:1.1rem;
  margin-top:.2rem;
}
.card-footer
{
    padding:2rem 1rem;
    background:f9fafc;
}
#sidebar-toogle
{
    display:none;
}

.card-footer a
{
    color:green;
}
.activity-grid
{
  display:grid;
  grid-template-columns: 75% 25%;
  grid-column-gap:1.5rem;  
}
.activity-card
{
    background: #ffffff;
    border-radius:7px;
}
@media only screen and (max-width:1200px)
{
    .sidebar{
        width:60px;
    }
}


.p-0 {
    padding: 0!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}  */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
  
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
} */


.sidenav-container {
    height: 100%;
    }
 
   .sidenav {
   width: 200px;
   margin-top: 72px;
   }
 
  .sidenav .mat-toolbar {
   background: inherit;
   }
 
  #drawer {
  position: fixed;
  }
 
  .mat-toolbar.mat-primary {
   position: sticky;
   top: 0;
   z-index: 1;
  }
  .illustration-text {
    color:black;
    
}
.h4, h4 {
    font-size: 1.03125rem;
}

body{
    background-color: #F7F9FE;
 }