<!-- <link rel="stylesheet" href="http://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <!-- <head>
    <body> -->
        <!-- <input type="checkbox" id="sidebar-toogle">
  <div class="sidebar">
    <div class="sidebar-header">
    <h3 class="brand">
        <span class="ti-unlink"></span>
      <span>Project Management System</span>
    </h3>
    <label for="sidebar-toogle" class="ti-menu-alt"></label>
    <!-- <span class="ti-menu-alt"></span> -->
  <!-- </div>
  <div class="sidebar-menu">
    <ul>
      <li><a href="/dashboard">
        <span class="ti-home"></span>
        <span>Home</span>
      </a>
      </li>
      <li><a href="/userprofile">
        <span class="ti-user"></span>
        <span>Profile</span>
      </a>
      </li>
      <li><a href="/clientrecord">
        <span class="ti-face-smile"></span>
        <span>Clients</span>
      </a>
      </li>
      <li><a href="/logout">
        <span class="ti-sign-out-alt"></span>
        <span>log-out</span>
      </a></li>
    </ul>
  </div>
  </div>
  
  <div class="main-content">
    <header>
      <div class="search-wrapper">
        <span class="ti-search"></span>
        <input type="search" placeholder="Search">
      </div> -->
      <!-- <div class="social-icons">
        <span class="ti-bell"></span>
        <span class="ti-comment"></span>
        <div></div>
      </div> -->
    <!-- </header>
     <main >
      <h2 class="dash-title">Dashboard</h2>
      <div class="dash-cards">
        <div class="card-single">
          <div class="card-body">
          <!-- <span class="ti-briefcase"></span> -->
          <!-- <div>
            <h5>Welcome</h5>
            <!-- <h4>$64,79,36</h4> -->
          <!-- </div>
      </div>
      <!-- <div class="card-footer">
        <a href="">View All</a>
        </div> -->
  <!-- </div>     -->
  <!-- <div class="card-single">
    <div class="card-body">
    <span class="ti-reload"></span>
    <div>
      <h5>pending</h5>
      <h4>$64,79,36</h4>
    </div>
  </div>
  <div class="card-footer">
  <a href="">View All</a>
  </div>
  </div>   -->
  
  <!-- <div class="card-single">
    <div class="card-body">
    <span class="ti-checkbox"></span>
    <div>
      <h5>proccessed</h5>
      <h4>$64,79,36</h4>
    </div>
  </div>
  <div class="card-footer">
  <a href="">View All</a>
  </div>
  </div>  -->
      <!-- </div>
    </main> 
  </div>
    -->
    <app-dashboard></app-dashboard>